<h1>Editing milestone</h1>

<%= error_messages_for :milestone %>

<% form_for(@milestone) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @milestone %> |
<%= link_to 'Back', milestones_path %>
