<div id="markdownHelp" style="display:none;">
  		<h4>Markdown formaterings tips (<a target="_new" href="http://daringfireball.net/projects/markdown/syntax">fler</a>)</h4>
  		<table cellspacing="0" cellpadding="0" width="100%">
  			<tr><td>_din text_</td><td class="arrow">&rarr;</td><td><em>din text</em></td></tr>
  			<tr><td>**din text**</td><td class="arrow">&rarr;</td><td><strong>din text</strong></td></tr>
  			<tr><td>`minKod()`</td><td class="arrow">&rarr;</td><td><code>minKod()</code></td></tr>
  			<tr><td>Indenterat med minst fyra mellanslag</td><td class="arrow">&rarr;</td><td><code>minKod()</code></td></tr>
  			<tr><td>* Bullet lista<br />* Andra</td><td class="arrow">&rarr;</td><td>&#8226; Bullet 1<br />&#8226; Andra</td></tr>
  			<tr><td>[länk namn](http://)</td><td class="arrow">&rarr;</td><td><a href="http://">länk namn</a></td></tr>
  			<!--<tr><td>&lt;http://url><br />&lt;email@add.com></td><td class="arrow">&rarr;</td><td>Auto-linked</td></tr>-->
  			<tr><td>&gt; citat</td><td class="arrow">&rarr;</td><td>(citatlåda)</td></tr>
      </table>
</div>
