<% page_title 'Projects' %>

<div id="content">
	<% if @projects.any? %>
		<h1>Available Projects</h1>
		<dl>
			<% @projects.each do |project| %>
				<dt class="project-name"><%= link_to h(project.name), project_changesets_path(project) %></dt>
				<dd class="project-info"><%= textilize project.info %></dd>
			<% end %>
		</dl>
	<% else %>
  	<h2>No projects available</h2>
	<% end %>
</div>
